<div class="snippet">
  <% if snippet.repl? %>
    <pre class="highlight repl">
<%- snippet.repl.each do |line| %>
<span class="<%=line.lang%>"><%- code(line.lang, wrap: false) do %><%=line.text %><%- end %></span>
<%- end %>
    </pre>
  <% else %>
    <% code(snippet.lang) do %><%=snippet.code%><% end %>
    <%- if snippet.stdout -%>
      <div class="stdout">
        <div class="lbl">Output:</div>
        <% code("stdout") do %><%=snippet.stdout%><%end%>
      </div>
    <%- end -%>
  <% end %>
</div>
